<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>

<body>

    <%- include('./part/navbar'); %>


    <header class="d-flex align-items-center" dir="rtl" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 welcome d-flex align-items-center">
                    <div>
                        <h1 class="welcome-title">عسل رحيق انقي انواع العسل النحل</h1>
                        <p class="welcome-desc lead mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم
                            توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ هذا النص هو مثال لنص يمكن أن
                            يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ
                        </p>
                        <button class="btn btn-primary btn-lg mt-3">اتصل بنا الان</button>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex">
                    <div class="swiper mySwiper" dir="ltr">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="honey-removebg.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="bg-out-story.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="natural.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="honey-removebg.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="honey-removebg.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="honey-removebg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 230">
        <path fill="#e3ece3ff" fill-opacity="1" d="M0,32L120,48C240,64,480,96,720,96C960,96,1200,64,1320,48L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
    </svg>


    <section class="about" dir="rtl" id="about">
        <div class="container">
            <div class="row  mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">من نحن</span>
                    <h2 class="fs-2 ">من نحن وما هي اهدافنا</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3 order-2 order-md-1">
                    <h2 class="fs-2  mt-4 mb-4">من نحن وما هي اهدافنا</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi tenetur natus minus soluta, laborum quo itaque consequatur at nesciunt inventore? Reprehenderit quos fugiat amet unde debitis porro sapiente fugit.</p>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi tenetur natus minus soluta, laborum quo itaque consequatur at nesciunt inventore? Reprehenderit quos fugiat amet unde debitis porro sapiente fugit.</p>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi tenetur natus minus soluta, laborum quo itaque consequatur at nesciunt inventore? Reprehenderit quos fugiat amet unde debitis porro sapiente fugit.</p>
                </div>
                <div class="col-md-6 mt-3 order-1 order-md-2">
                    <div class="about-img bg-primary">
                        <img src="beek.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services" dir="rtl">
        <div class="container">
            <div class="row mt-5 mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">ماذا نقدم لك</span>
                    <h2 class="fs-2">الخدمات التي نقدمها</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-beer"></i>
                        </div>
                        <h4 class="mt-4">جميع انواع العسل</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-beer"></i>
                        </div>
                        <h4 class="mt-4">اجود انواع العسل</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-crown"></i>
                        </div>
                        <h4 class="mt-4">عسل ملكي vip</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-beer"></i>
                        </div>
                        <h4 class="mt-4">جميع انواع العسل</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <h4 class="mt-4">شحن مجاني في مصر</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <div class="services-tem p-2 text-center">
                        <div class="head">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4 class="mt-4">التوصيل السريع</h4>
                        <p class="mt-3">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                            مولد النص العربى، حيث يمكنك أن تولد مثل هذ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product" dir="rtl" id="product">
        <div class="container">
            <div class="row mt-5 mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">لدينا افضل منتجات</span>
                    <h2 class="fs-2 ">المتجر الخاص بنا</h2>
                </div>
            </div>
            <div class="row">
                
                <% for(let product of products) { %>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-4">
                        <div class="card text-center pb-2">
                            <div class="card-head">
                                <%if(product.newPrice){ %>
                                    <div class="discont bg-danger text-light"><%= product.price -  product.newPrice / product.price * 100  %>%</div>
                                <%}%>
                                <img src="<%= product.image[0] %>" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-3">
                                    <%= product.name%>
                                </h4>
                                <p class="card-text">
                                    <%- product.desc.substring(0,80)%> ...
                                </p>
                                <div class="price text-success pb-2 h5">
                                        <%if(product.newPrice){ %>
                                        <span class="text-dark text-decoration-line-through fw-ligh"><%= product.price%></span> -
                                        <span>
                                            <%= product.newPrice%> جنية
                                        </span>
                                        <%}else{%>
                                                <%= product.price%>جنية 
                                        <%}%>
                                </div>

                                    <a href="/product/<%= product.url%>" class="btn btn-primary btn-sm mt-2">اطلب العسل الان</a>
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>
        </div>
    </section>

    <section class="blog" dir="rtl" id="blog">
        <div class="container">
            <div class="row mt-5 mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">كتباتنا</span>
                    <h2 class="fs-2 ">ماذا كتبتنا عن العسل النحل</h2>
                </div>
            </div>
            <div class="row">
                <% for(let article of articles) { %>
                    <div class="col-md-6 mt-4">
                        <a href="/artcile/<%= article.url%>">
                            <div class="card" dir="rtl">
                                <div class="card-head">
                                    <img src="<%= article.image%>" class="card-img-top" alt="%= article.image%>">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title fs-4 text-primary"><a href="/artcile/<%= article.url%>"><%= article.title%></a></h5>
                                    <p class="card-text"><%= article.desc.substring(0,200)%>...</p>
                                    <a href="/artcile/<%= article.url%>" class="btn btn-outline-secondary">اقرا المقال الان</a>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>

            </div>


        </div>
        </div>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e3ece3ff" fill-opacity="1" d="M0,288L120,272C240,256,480,224,720,218.7C960,213,1200,235,1320,245.3L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
    <section class="testimonials" id="testimonials">
        <img class="img img-1" src="Asset-1.png" alt="" srcset="">
        <img class="img img-3" src="Asset-1.png" alt="" srcset="">

        <div class="container">
            <div class="row  mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">اراء العملاء</span>
                    <h2 class="fs-2 ">ماذا قال العملاء عن خدماتنا</h2>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-md-8 mt-4">
                    <div class="swiper mySwiper2" dir="ltr">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" dir="rtl">
                                <div class="card rounded">
                                    <div class="card-body p-4">
                                        <div class="fs-2 text-primary text-center">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="card-text fs-4 lead py-5 px-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ </p>
                                    </div>
                                    <div class="card-footer py-3">
                                        <div class="avatar d-flex align-items-center">
                                            <div class="qoute-icon text-white">
                                                <i class="fas fa-quote-right"></i>
                                            </div>
                                            <span class="clint-name m-2">
                                                احمد عصام
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" dir="rtl">
                                <div class="card rounded">
                                    <div class="card-body p-4">
                                        <div class="fs-2 text-primary text-center">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="card-text fs-4 lead py-5 px-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ </p>
                                    </div>
                                    <div class="card-footer py-3">
                                        <div class="avatar d-flex align-items-center">
                                            <div class="qoute-icon text-white">
                                                <i class="fas fa-quote-right"></i>
                                            </div>
                                            <span class="clint-name m-2">
                                                احمد عصام
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" dir="rtl">
                                <div class="card rounded">
                                    <div class="card-body p-4">
                                        <div class="fs-2 text-primary text-center">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="card-text fs-4 lead py-5 px-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ </p>
                                    </div>
                                    <div class="card-footer py-3">
                                        <div class="avatar d-flex align-items-center">
                                            <div class="qoute-icon text-white">
                                                <i class="fas fa-quote-right"></i>
                                            </div>
                                            <span class="clint-name m-2">
                                                احمد عصام
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" dir="rtl">
                                <div class="card rounded">
                                    <div class="card-body p-4">
                                        <div class="fs-2 text-primary text-center">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="card-text fs-4 lead py-5 px-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ </p>
                                    </div>
                                    <div class="card-footer py-3">
                                        <div class="avatar d-flex align-items-center">
                                            <div class="qoute-icon text-white">
                                                <i class="fas fa-quote-right"></i>
                                            </div>
                                            <span class="clint-name m-2">
                                                احمد عصام
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" dir="rtl">
                                <div class="card rounded">
                                    <div class="card-body p-4">
                                        <div class="fs-2 text-primary text-center">
                                            <i class="fas fa-quote-left"></i>
                                        </div>
                                        <p class="card-text fs-4 lead py-5 px-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ </p>
                                    </div>
                                    <div class="card-footer py-3">
                                        <div class="avatar d-flex align-items-center">
                                            <div class="qoute-icon text-white">
                                                <i class="fas fa-quote-right"></i>
                                            </div>
                                            <span class="clint-name m-2">
                                                احمد عصام
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e3ece3ff" fill-opacity="1" d="M0,32L120,48C240,64,480,96,720,96C960,96,1200,64,1320,48L1440,32L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
    </svg>

    <section class="contact" dir="rtl" id="contact">
        <div class="container">
            <div class="row  mb-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <span class="fs-4 text-primary">تواصل معنا</span>
                    <h2 class="fs-2  text-pink">اتصل بنا في الحال</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <form action="">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">اسمك</label>
                            <input type="text" class="form-control" placeholder="اكتب اسمك كامل">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">رقم الموبيل</label>
                            <input type="text" class="form-control" placeholder="اكتب رقم الموبيل">
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">الرسالة</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="اكتب رسالتك هنا"></textarea>
                        </div>
                        <button class="btn btn-primary">ارسال الان</button>
                    </form>
                </div>
                <div class="col-md-6 d-none d-md-flex">
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_qumw8rhu.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </section>


    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/jqoury.min.js"></script>
    <script src="/js/Popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>